repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (with auto-fix)
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

