name: Build and Publish Python Package

on:
  release:
    types: [published]
  workflow_dispatch:  # Allow manual triggering
    inputs:
      test_pypi:
        description: 'Upload to TestPyPI instead of PyPI'
        required: false
        default: 'false'
        type: boolean

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11.9'  # Specify the Python version to use

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install pytest pyspark pandas build twine

    - name: Run tests
      run: |
        pytest tests

    - name: Build package
      run: |
        python -m build

    - name: Publish package to TestPyPI
      if: github.event_name == 'workflow_dispatch' && github.event.inputs.test_pypi == 'true'
      run: |
        python -m twine upload --repository testpypi dist/*
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}

    - name: Publish package to PyPI
      if: github.event_name == 'release' || (github.event_name == 'workflow_dispatch' && github.event.inputs.test_pypi != 'true')
      run: |
        python -m twine upload dist/* 
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}